# rename this file to CollabIRCate.yml and put a : in front of "name" if
# you want to use yaml like in old versions of Catalyst
name CollabIRCate
dsn dbi:SQLite:dbname=/full/path/to/database

# define the below if you want to run the builtin irc server
irc_server_name undefNET
irc_server_port 6668
irc_server_motd ****************************************
irc_server_motd *  undefNET ...        _           __  *
irc_server_motd *  _   _   _ __     __| |   ___   / _| *
irc_server_motd * | | | | | '_ \   / _` |  / _ \ | |_  *
irc_server_motd * | |_| | | | | | | (_| | |  __/ |  _| *
irc_server_motd *  \__,_| |_| |_|  \__,_|  \___| |_|   *
irc_server_motd ****************************************

# these are the options for the irc bot irc_bot.pl
irc_bot_server_host localhost
irc_bot_server_port 6668
irc_bot_nickname undefBOT

# http server
http_server_host localhost
http_server_port 3000

# tag matching
# [] tags
irc_log_tag_regexp \[([\w\S]+?)\]
# hashtags (#foo)
# irc_log_tag_regexp '#([\w\S]+)'

# how many seconds until we think it's a new conversation?
irc_log_conversation_break 300

# file stuff
file_store_path ./store
upload_url http://example.org/upload/HASH/
upload_email uploads+HASH@example.org

# email stuff, must be writable by the mail server user
email_queue_path ./queue
